.fire {
	height: 4vh;
	width: 4vh;
	background-image: radial-gradient(circle, gold 10%, red 60%);
	border-radius: 50%;
}
#leftFire {
	position: absolute;
	top: 1%;
}
#midFire {
	position: absolute;
	top: 1%;
}
#rightFire {
	position: absolute;
	top: 1%;
}
img.beforeStart {
	opacity: 0.5;
}
div.beforeStart {
	opacity: 0;
}
