@import url("./bow.css");
@import url("./fire.css");
@import url("./player.css");
@import url("./leaderBoard.css");

body {
    background-image:  url("images/forest-background.jpg");
}

body.darkMode {
  background-image:  url("images/darkBackground.jpg");
  background-repeat: no-repeat;
  background-size:100%;
}

#DoneModal{
  position:absolute;
  top:300px;
  left:800px;
  background-color:red;
  height:300px;
  width:500px;
  color:white;
}
#menuBar{
  position: absolute;
  top:20%;
  display: flex;
  width:8%;
  flex-flow: column;
  justify-content: space-around;
  align-items: space-around;
}
.menuBarItems{

  margin-bottom: 15%;
  height:30px;
  background-color: silver;
  cursor: pointer;
  width:70%;
}
#darkModeToggle{
  width: 36px;
  height: 21px;
}