@import url("./bow.css");
@import url("./fire.css");
@import url("./player.css");
@import url("./leaderBoard.css");

body {
    background-image:  url("images/forest-background.jpg");
    color:blue;
}

body.darkMode {
  background-image:  url("images/darkBackground.jpg");
  background-repeat: no-repeat;
  background-size:100%;
}

.fire.darkMode{
  background-color:goldenrod;
}

#toggleMenuBar{
  margin-top: 4%;
  height:30px;
  background-color: transparent;
  cursor: pointer;
  color:blue;
  border: 1px solid transparent;
  font-size: 4vh;
}
#toggleMenuBar:hover{
  color: white;
}
#menuBar{
  position: absolute;
  top:20%;
  display: flex;
  width:8%;
  flex-flow: column;
  justify-content: space-around;
  align-items: space-around;
}
.menuBarItems{
  margin-bottom: 15%;
  height:3vh;
  background-color: silver;
  cursor: pointer;
  width:70%;
  color:white;
}
.menuBarItems:hover{
  width:80%;
  height:5vh;
  margin-left: 0.5vh;
  margin-top: 1vh;
}

#darkModeToggle{
  width: 36px;
  height: 21px;
}

#DoneModal{
  position:absolute;
  top:300px;
  left:800px;
  background-color:red;
  height:300px;
  width:500px;
  color:white;
}

