@import url("./bow.css");
@import url("./fire.css");
@import url("./player.css");
@import url("./leaderBoard.css");

body {
    background-image:  url("images/forest-background.jpg");
    color:blue;
}

body.darkMode {
  background-image:  url("images/darkBackground.jpg");
  background-repeat: no-repeat;
  background-size:100%;
}

#toggleMenuBar{
  margin-top: 4%;
  height:3vh;
  background-color: transparent;
  cursor: pointer;
  color:blue;
  border: 1px solid transparent;
  font-size: 4vh;
}
#toggleMenuBar:hover{
  color: white;
}
#menuBar{
  position: absolute;
  top:20%;
  display: flex;
  width:8%;
  flex-flow: column;
  justify-content: space-around;
  align-items: space-around;
}
.menuBarItems{
  margin-bottom: 15%;
  height:4vh;
  background: linear-gradient(grey,silver,grey);
  transition: all .6s cubic-bezier(.19,1,.22,1);
  cursor: pointer;
  width:6.6vw;
  color:white;
}
.menuBarItems:hover{
  width:80%;
  height:5vh;
  margin-left: 0.5vh;
  margin-top: 1vh;
}

#darkModeToggle{
  cursor:pointer;
  width: 3vw;
  height: 2vh;
}
label{
  cursor:grab;
}
#start,#stop, #login{
  width:80%;
}

#DoneModal{
  position:absolute;
  background-image: radial-gradient(circle, red, yellow, red);
  height:30%;
  width:30%;
  margin-left: 35%;
  margin-top: 15%;
  color:white;
  text-align: center;

  display:flex;
  flex-flow:column;
  justify-content:space-around;
  align-items:center
}

