table {
    width:20%;
    position:relative;
    border: 3px solid rgb(217, 255, 0);
    border-collapse: collapse;
    background: linear-gradient(grey,silver,silver,grey);
    width:110%;
    height:30px;

}

th,td{
    border:2px solid rgba(20, 20, 233, 0.493);
    height:50px;
    text-align: center;
    color:white;
}
tr:hover {background-color: grey;}
p{
    position: relative;
    left: 7.5%;
    font-size: 3vh;
}

.darkMode{
    color:white;
}
.highlightCurrentUserOnLeaderBoard{
    background-color: rgb(245, 0, 0);
}
.highlightCurrentUserOnLeaderBoard:hover{
    background-color: silver;
}