body{
    background-color: silver;
}

form{
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    border: 30px solid rgb(72, 9, 124);
    width:25%;
    margin: auto;

    position: absolute;
    top:22%;
    left:35%;
    background-color: rgb(72, 9, 124);
    border-radius: 10px;
}

input,button{
    padding: 8px;
    margin: 5%;
}
button{
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 10%;
}
#createAccountOrAlreadyHaveAccount{
    top: 65%;
    left: 30%;
    position: absolute;
    width: 28%;
    border: 1px solid rgb(72, 9, 124);
}
h1{
    text-align: center;
    color:white;
}